<div class="container"> 

  <h2>Edit meeting summary</h2>
  
  <%= render partial: 'form' %>

  <p>
    <%= link_to "Back to summary", idea_path %> |
    <%= link_to "Back home", root_path %>
  </p>

</div>