<div class="container"> 

  <h2>Edit your idea</h2>
  
  <%= render partial: 'form' %>

  <p>
    <%= link_to "Back to the idea", idea_path %> |
    <%= link_to "Back to all ideas", root_path %>
  </p>

</div>