<div class="container"> 

  <h2>Main Ideas</h2>

  <ul id="ideas">
    <% @ideas.each do |idea| %>
      <li>
        <%= link_to idea.title, idea_path(idea), class: 'idea_title' %>
      </li>
    <% end %>
  </ul>
  <p>
    <%= link_to "New ideas", new_idea_path, class: 'new_idea' %>
  </p>

</div>