<div class="container"> 

  <h2>Xero Invoices</h2>

  <p>
    Welcome to a Xero Demo!
  </p>

  <div class="xero_session">
    <%= link_to "Authenticate Xero Session", xero_session_new_path %>
  </div>

  <ul id="invoices">
    
      <li>
        <%= @invoices.inspect %>
      </li>

  </ul>

</div>