<div class="container"> 

  <h2>Xero Invoices</h2>

  <p>
    Welcome to Xero Invoices - click link below to authenticate:
  </p>

  <div class="xero_session">
    <%= link_to "Authenticate Xero Session", xero_session_new_path %>
  </div>

  <ul id="ideas">
    <% @invoices.each do |invoice| %>
      <li>
        <%= link_to invoice.title, invoice_path(invoice) %>
      </li>
    <% end %>
  </ul>

</div>